<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
   <link rel="stylesheet" href="../src/jquery/jquery-ui.css" />
   <link rel="stylesheet" href="../src/styles.css" />
   <script type="text/javascript" src="../src/jquery/jquery-1.9.1.min.js"></script>
   <script type="text/javascript" src="../src/jquery/jquery-ui.min.js"></script>
   <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
   <script src="../src/script.js"></script>
   <link rel="apple-touch-icon" sizes="180x180" href="../src/fav/apple-touch-icon.png" />
   <link rel="icon" type="image/png" sizes="32x32" href="../src/fav/favicon-32x32.png" />
   <link rel="icon" type="image/png" sizes="16x16" href="../src/fav/favicon-16x16.png" />
   <link rel="manifest" href="../src/fav/site.webmanifest" />
   <link rel="shortcut icon" href="../src/fav/favicon.ico" />
   <meta name="msapplication-TileColor" content="#da532c" />
   <meta name="msapplication-config" content="../src/fav/browserconfig.xml" />
   <meta name="theme-color" content="#ffffff" />
   <title>AXO - Collectable 8Bit Character NFTs on Binance Smart Chain</title>
   <meta name="title" content="AXO - Collectable 8Bit Character NFTs on Binance Smart Chain" />
   <meta name="description" content="AXO, the collectable 8bit character NFTs on Binance Smart Chain! With only 2,500 being produced, users will discover rarity traits and other characteristics of 8bits NFTS!" />
   <meta property="og:type" content="website" />
   <meta property="og:url" content="https://AXO.org/view" />
   <meta property="og:title" content="AXO - Collectable 8Bit Character NFTs on Binance Smart Chain" />
   <meta property="og:description" content="AXO, the collectable 8bit character NFTs on Binance Smart Chain! With only 2,500 being produced, users will discover rarity traits and other characteristics of 8bits NFTS!" />
   <meta property="og:image" content="https://AXO.org/src/logo_black.png" />
   <meta property="twitter:card" content="summary_large_image" />
   <meta property="twitter:url" content="https://AXO.org/view" />
   <meta property="twitter:title" content="AXO - Collectable 8Bit Character NFTs on Binance Smart Chain" />
   <meta property="twitter:description" content="AXO, the collectable 8bit character NFTs on Binance Smart Chain! With only 2,500 being produced, users will discover rarity traits and other characteristics of 8bits NFTS!" />
   <meta property="twitter:image" content="https://AXO.org/src/logo_black.png" />
</head>
<body style="text-align: center;">
   <a href="https://AXO.org"><img id="logo" src="../src/logo.png" style="margin-top: -3rem;" /></a>
   <br />
   <br />

   <div>
      <h2>View Your BNB Bit</h2>
      <h3>BNB Bit ID</h3>
      <input type="text" id="input-box" class="ant-input" text>
      <button onclick="bitViewer()" id="viewBtn">VIEW</button>
      <br /><br /><br /><br /><br /><br />
      <div class="ant-divider" role="separator"></div>
      <div class="owner-box"></div>
      <div class="ant-divider" role="separator"></div>
      <div style="margin-right: auto; margin-left: auto; margin-bottom: 0.3rem; margin-top: -4px;" id="sprite-image"></div>
      <h2 id="bitNo"></h2>
   </div>

   <footer>
      <a href="https://t.me/AXO"><img style="height: 45px;" src="../src/discord.png" /></a> &nbsp;&nbsp;
      <a href="https://twitter.com/AXO_"><img style="height: 40px;" src="../src/twitter.png" /></a>
   </footer>
</body>
